<html>
  <head>
    <title>Home</title>
    {% load django_bootstrap5 %} {% bootstrap_css %}
  </head>
  <body>
    <div class="container col-2"></div>

    <h1 class="text-center mt-5 display-1">Welcome to Home page</h1>
    <p class="text-center">Developer: Bibek Bhandari</p>
    <div class="text-center">
      <a
        class="btn btn-primary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
        href="{% url 'weather_view' %}"
        >Weather</a
      >
      <a
        class="btn btn-primary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
        href="{% url 'news-view' %}"
        >News</a
      >
    </div>
    {% bootstrap_javascript %}
  </body>
</html>
