<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Weather App</title>
  </head>
  <body class="container text-center">
    <section class="container">
      <h1>Weather information</h1>
      <h2>Searched for city: {{ city }}</h2>
      <form method="POST" action="">
        {% csrf_token %}
        <input
          type="text"
          name="city"
          placeholder="Enter city"
          value="{{ city }}"
          required
          class="form-control"
        />
        <button type="submit" class="btn btn-primary mt-2">
          Try Weather Info
        </button>
      </form>
      {% if data.status == '' %}
      <p>No live data captured</p>
      {% elif data.status == 'fail' %}
      <p>{{ data.message }}</p>
      {% elif data.status == 'success' %}
      <p>Country Code: {{ data.country_code }}</p>
      <p>Temperature: {{ data.temperature }} ℃</p>
      <p>Pressure: {{ data.pressure }}</p>
      <p>Humidity: {{ data.humidity }}</p>
      <p>Description: {{ data.description }}</p>
      <img
        src="http://openweathermap.org/img/w/{{ data.icon }}.png"
        alt="Weather icon"
      />
      {% endif %}
    </section>
    <section class="container mt-4">
      <h2>Weather History</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>City</th>
            <th>Country Code</th>
            <th>Temperature</th>
            <th>Pressure</th>
            <th>Humidity</th>
            <th>Description</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          {% for history in dataHistory %}
          <tr>
            <td>{{ history.city }}</td>
            <td>{{ history.country_code }}</td>
            <td>{{ history.temperature }} ℃</td>
            <td>{{ history.pressure }}</td>
            <td>{{ history.humidity }}</td>
            <td>{{ history.description }}</td>
            <td>{{ history.created_at }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
    <button class="btn btn-primary mt-2 ml-2">
      <a href="{% url 'homepage' %}" class="text-white">Home</a>
    </button>
  </body>
</html>
